/* ----- main layout ----- */

body { 
  font-size: 1.0em; 
}

/* ----- Content ----- */

#content .blog-index article h1 {
  font-size: 1.5em;
}

#content .entry-title article h1 {
  font-size: 1.5em;
}

#content h1 { 
  font-size: 1.5em;
}

#content article h2 {
  background: none;
  font-size: 1.2em;
  border-bottom: 1px dotted #cccccc;  
  padding: .3em .4em 
}

#content article h3 {
  font-size: 1.2em;
  font-weight: normal;
}

#content article ul {
  margin-left: 20px;
}
